.product {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 250px;
  max-height: 400px;
  background-color: white;
  box-shadow: 0 6px 18px -9px rgba(0, 0, 0, 0.75);
  /* margin:20%; */
}

.product__row {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}
.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
  /* box-shadow: 5Px 5Px 15Px 5px #000000; */
}
.product__price {
  margin-top: 5px;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}
.link {
  text-decoration: none;
  color: #000;
}
